{% extends "base.html" %}

{% block title %}<title>Tag</title>{% endblock %}

{% block content %}

  <div class="d-flex justify-content-between align-items-center mt-3 mb-4">
    <h1>Tags</h1>
    {#    <a href="{% url 'practice:tag_create' %}" class="btn btn-primary">Add Tag</a>#}
  </div>

  <table class="table">
    <thead>
      <tr>
        <th><strong>Name</strong></th>
        <th><strong>Update</strong></th>
        <th><strong>Delete</strong></th>
      </tr>
    </thead>
    <tbody>
      {% for tag in tags %}
        <tr>
          <td>{{ tag.name }}</td>
          <td><a href="#" class="btn btn-secondary">Update</a></td>
          <td><a href="#" class="btn btn-secondary">Delete</a></td>
        </tr>
      {% empty %}
        <tr>
          <td>No tags available</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}